<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
    }

    .navbar {
      background-color: black;
      color: white;
      padding: 10px;
    }

    .navbar ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
    }

    .navbar li {
      margin-right: 20px;
    }

    .navbar li:last-child {
      margin-right: 0;
      margin-left: auto;
    }

    .navbar a {
      color: white;
      text-decoration: none;
    }

    .navbar a:hover {
      text-decoration: underline;
    }

    .img{
      margin: 0;
      padding: 0;
      background-image: url("https://static.mygov.in/media/transformingindia/2020/03/TI_Covid-19.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
    }

    .content {
      text-align: center;
      padding: 50px;
      margin: 50px;
      background-color: rgba(255, 255, 255, 0.8);
    }

    .content h1 {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/admin/register">Admin</a></li>
      <li><a href="/register">User</a></li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBuPENk1sGJAR8JZuYJ0ccsVNuQt5Op3upWQ&usqp=CAU" alt="Hospital Symbol" height="30"></li>
    </ul>
  </div>

  <div class ="img"></div>

  <div class="content">
    <h1>Center Aligned Heading</h1>
    <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.
        Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. 
        However, some will become seriously ill and require medical attention. 
        Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness.
        Anyone can get sick with COVID-19 and become seriously ill or die at any age. </p>

    <p>The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads. 
        Protect yourself and others from infection by staying at least 1 metre apart from others, wearing a properly fitted mask, 
        and washing your hands or using an alcohol-based rub frequently. Get vaccinated when it’s your turn and follow local 
        guidance.

        The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough,
         sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols. 
         It is important to practice respiratory etiquette, for example by coughing into a flexed elbow, and to stay home 
         and self-isolate until you recover if you feel unwell.</p>
    
  </div>


</body>
</html>